/* GENERIC */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILITIS */

header {
  width: 100%;
  height: 80px;
  background-color: #add8e6;
  font-size: larger;
}

.heading {
  width: 1400px;
  height: 50px;
  background-color: #daa520;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.first-section {
  width: 100%;
  height: 520px;
  background-color: #00008b;
}

.box-first-s {
  width: 1000px;
  height: 400px;
  background-color: #ee82ee;
}

.second-section,
.fourth-section {
  width: 100%;
  height: 640px;
  background-color: white;
}

.col-container {
  width: 1400px;
  height: 550px;
}

.large-col {
  width: 60%;
  background-color: #1e90ff;
}

.small-col {
  width: 40%;
  background-color: #ffc0cb;
}

.third-section {
  width: 100%;
  height: 640px;
  background-color: #d3d3d3;
}

.fifth-section {
  width: 100%;
  height: 1000px;
  background-color: #d3d3d3;
}

.box-fifth-s {
  width: 1400px;
  height: 900px;
  background-color: #228b22;
}

footer {
  width: 100%;
  min-height: 850px;
  background-color: #23272a;
}

.footer-container {
  width: 1400px;
  height: 600px;
  margin-top: 10px;
  margin-bottom: 40px;
}

#col-footer {
  width: 30%;
  height: 100%;
  background-color: #f08080;
  border: 2px dashed black;
}

.col-container-f {
  width: 17.5%;
  height: 100%;
  background-color: #20b2aa;
}

.end-footer {
  min-height: 80px;
  width: 100%;
  background-color: #23272a;
  border-top: 2px solid white;
}

.end {
  width: 1400px;
  height: 80px;
  background-color: #7fffd4;
  margin-top: 45px;
}

.black-dashed {
  border: 2px dashed black;
}

.white-dashed {
  border: 2px dashed white;
}

.logo {
  margin-left: 5px;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  margin: 0 5px;
}

a {
  text-decoration: none;
  color: black;
}

.login {
  margin-right: 5px;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.logo-end {
  padding: 5px 10px;
  background-color: #ffb6c1;
}

.bottone {
  padding: 5px 10px;
  background-color: #ffb6c1;
}
